{% extends 'layouts/layout.html' %}

{% block content %}
  <div class="sign-card-header">
    <h3 class="text-center">Sign In</h3>
  </div>
  <div class="card-body px-5">
    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}
    <form method="POST" class="pb-5">
      {% csrf_token %}
      <div class="form-group mb-3">
        <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
        <div class="email-input">{{ form.email }}</div>
        {{ form.email.errors }}
      </div>
      <div class="form-group mb-3">
        <label for="{{ form.password.id_for_label }}">Password:</label>
        <div class="email-password">
          {{ form.password }}
          <span class="toggle-password" onclick="togglePasswordVisibility()">
            <i id="password-icon" class="fas fa-eye"></i>
          </span>
        </div>
        {{ form.password.errors }}
      </div>   
      <div class="mt-5 d-flex justify-content-end">
        <button type="submit" class="btn-card-sign">Sign In</button>
      </div>
      <!-- <a href="{% url 'securityauth:signup' %}">Sign Up</a> -->
    </form>
  </div>
  <script>
    function togglePasswordVisibility() {
      const passwordInput = document.getElementById('{{ form.password.id_for_label }}');
      const passwordIcon = document.getElementById('password-icon');

      if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          passwordIcon.classList.remove('fa-eye');
          passwordIcon.classList.add('fa-eye-slash');
      } else {
          passwordInput.type = 'password';
          passwordIcon.classList.remove('fa-eye-slash');
          passwordIcon.classList.add('fa-eye');
      }
    }
  </script>
{% endblock %}