{% extends 'layouts/layout.html' %}

{% block content %}
  <div class="sign-card-header">
    <h3 class="text-center">Sign Up</h3>
  </div>
  <div class="card-body  px-5">
    <form method="POST">
      {% csrf_token %}
      <div class="form-group mb-3">
        <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
        {{ form.email }}
        {{ form.email.errors }}
      </div>
      <div class="form-group mb-3">
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
        {{ form.password.errors }}
      </div>   
      <div class="form-group mb-3">
        <label for="{{ form.password.id_for_label }}">Confirm Password:</label>
        {{ form.confirm_password }}
        {{ form.confirm_password.errors }}
      </div>
      <div class="mt-5 d-flex justify-content-end">
        <button type="submit" class="btn-card-sign">Sign Up</button>
      </div>
      <!-- <a href="{% url 'securityauth:signin' %}">Sign In</a> -->
    </form>
  </div>
{% endblock %}