{% extends 'layouts/base.html' %}

{% block content %}

<div style="margin: 15px">
  <div class="row" style="align-items: end; margin: 0;">
  <div class="row" style="margin: 0; background-color: white; border-radius: 4px;">
    <div class="d-flex custom-select1 col-2 mt-4 align-items-start px-0">
      <input type="checkbox" class="col-1" id="check-customer" name="check-customer" value="customer">
      <div class="col-11">
        <label for="selectOption">Customer Name</label>
        <select id="selectOption-customer">
            <option value="All">All</option>
            <option value="Buc-ee's">Buc-ee's</option>
            <option value="Pepco">Pepco</option>
            <option value = "Poundland">Poundland</option>
            <option value = "Walgreens">Walgreens</option>
            <option value = "Dollarama">Dollarama</option>
            <option value = "Family Dollar">Family Dollar</option>
            <option value = "Gabe's">Gabe's</option>
            <option value = "TEDI">TEDI</option>
            <option value = "Big Lots Stores">Big Lots Stores</option>
            <option value = "Walmart">Walmart</option>
            <option value = "TARGET">TARGET</option>
            <option value = "Ollies">Ollies</option>
            <option value = "Five Below">Five Below</option>
            <option value = "CVS">CVS</option>
            <option value = "Meijers">Meijers</option>
            <option value = "MICHAELS">MICHAELS</option>
            <option value = "Fred Meyer">Fred Meyer</option>
            <option value = "Tar Heel Trading">Tar Heel Trading</option>
        </select>
      </div>
    </div>
    <div class="d-flex custom-select1 col-2 mt-4 align-items-start px-0">
      <input type="checkbox" class="col-1" id="check-user" name="check-user" value="username">
      <div class="col-11">
        <label for="selectOption">User Name</label>
        <select id="selectOption-user">
            <option value="All">All</option>
            <option value="johngrey0324">johngrey0324</option>
            <option value="simon">simon</option>
            <option value="johngrey">johngrey</option>
            <option value="lucy">lucy</option>
            <option value="melody">melody</option>
            <option value="elaine">elaine</option>
            <option value="jasmine">jasmine</option>

        </select>
      </div>
    </div>
    <div class="col-2 d-flex align-items-start px-0 custom-date mt-4">
      <input type="checkbox" class="col-1" id="check-creationdate" name="check-creationdate" value="creationdate">
      <div class="col-11 flex-column">  
        <label>Creation Date</label>
          <div class="date-style">
            <div class="custom-select-date">
              <label for="selectOption">Start Date</label>
              <input type="date" id="creatStartDate" name="startDate">
            </div>
            <div class="custom-select-date">
              <label for="selectOption">End Date</label>
              <input type="date" id="creatEndDate" name="endDate">
            </div>
          </div>
      </div>
    </div>
    <div class="col-2 d-flex align-items-start px-0 custom-date mt-4">
      <input type="checkbox" class="col-1" id="check-podate" name="check-podate" value="podate">
      <div class="col-11 flex-column">
        <label>PO Date</label>
        <div class="date-style">
          <div class="custom-select-date">
            <label for="selectOption">Start Date</label>
            <input type="date" id="poStartDate" name="startDate">
          </div>
          <div class="custom-select-date">
            <label for="selectOption">End Date</label>
            <input type="date" id="poEndDate" name="endDate">
          </div>
        </div>
      </div>
    </div>
    <div class="flex-column col-2" style="position: relative;">
      <div id="toastContainer" class="filter-message">
      </div>

      <div style="margin-top: 22px;">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="button" id="filterButton">
          <i class="fa fa-filter" style="font-size:15px"></i> Filter
        </button>
      </div>
      <div style="margin-top: 22px;">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="button" id="refreshButton" onclick="refreshPage()">
          <i class="fa fa-refresh" style="font-size:15px"></i> Clear
        </button>
      </div>
    </div>

  </div>
  <div class="row mt-4" style="margin: 0; background-color: white; border-radius: 4px;" >
    
    <style>
      #history thead, #history tbody tr {
          display: table;
          width: 100%;
          table-layout: fixed;
      }
      #history tbody {
          height: calc(100vh - 448px);
          table-layout: fixed;
          overflow: auto;
          display: block;
          width: 100%;
      }
      .container{
        max-width: 1324px !important;
      }
    </style>
    <table class="table" id="history">
      <thead>
        <tr>
          <th style="width: 5%;"><input type="checkbox" id="masterCheckbox" name="checkbox" onchange="toggleCheckboxes(this)"></th>
          <th onclick="sortTable(1)" class="sortable-column">Customer Name <span id="sortSymbol1" class="order-symbol">&#x02191;</span></th>
          <th onclick="sortTable(2)" class="sortable-column">User Name <span id="sortSymbol2" class="order-symbol">&#x02191;</span></th>
          <th onclick="sortTable(3)" class="sortable-column">Creation Date <span id="sortSymbol3" class="order-symbol">&#x02191;</span></th>
          <th onclick="sortTable(4)" class="sortable-column" style="padding-left: 40px;">PO Date <span id="sortSymbol4" class="order-symbol">&#x02191;</span></th>
          <th></th>
        </tr>
      </thead>

      {% if histories != "empty" %}
      <tbody>
        {% for history in histories %}
        <tr class="table-row" data-customer-name="{{ history.0 }}" data-user-name="{{ history.1 }}" data-creation-date="{{ history.2 }}" data-po-date="{{ history.3 }}">
          <td style="width: 5%;"><input type="checkbox" class="subCheckbox" id="checkbox" name="checkbox" onchange="updateMasterCheckbox()" data-creation-date="{{ history.2 }}"></td>
          <td>{{ history.0 }}</td>
          <td>{{ history.1 }}</td>
          <td>{{ history.2 }}</td>
          <td style="padding-left: 40px;">{{ history.3 }}</td>
          <td class="text-center">
            <form method="post">
              {% csrf_token %}
              <a type="submit" class="btn btn-primary" href="{% url 'security:history_view' history.2 %}"
                id="history_viewer">View</a>
            </form>
          </td>

        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
  </div>
  <div class="black-line" style = "width: 100%; height: 7px; background-color: darkslategray"></div>
  <div class="row mt-5">
      <div class="col-10"></div>
      <div class="col-2 d-flex align-items-end justify-content-start ps-5 ">
          <form method="post" class="delete-form">
            {% csrf_token %}
            <button class="btn btn-danger text-white rounded" id="deleteButton">
              <i class="fa fa-trash"></i><span style="font-size: 16px; font-weight: bold;">Delete</span> 
            </button>
          </form>
      </div>
  </div>
</div>


<script>
  console.log("{{ real }}", "____")
  console.log("{{ history }}", "____")
  console.log("{{ new.0.output }}", "____")
</script>

<script>
  function toggleCheckboxes(masterCheckbox) {
    var checkboxes = document.getElementsByClassName("subCheckbox");
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = masterCheckbox.checked;
    }
  }

  function updateMasterCheckbox() {
    var masterCheckbox = document.getElementById("masterCheckbox");
    var checkboxes = document.getElementsByClassName("subCheckbox");
    masterCheckbox.checked = true;
    for (var i = 0; i < checkboxes.length; i++) {
      if (!checkboxes[i].checked) {
        masterCheckbox.checked = false;
        break;
      }
    }
  }
</script>


<script>
  let sortOrder = 1; 
  let sortedColumn = 0;
  function extractColumnName(columnText) {
  return columnText.replace(/[^\w\s]/g, '').trim().replace(/\s/g, '');
  }
  
function sortTable(columnIndex) {
    const table = document.getElementById("history");
    const rows = Array.from(table.tBodies[0].rows);
    if (sortedColumn === columnIndex) {
      sortOrder = -sortOrder;
    } else {
      sortOrder = 1;
    }

    rows.sort((a, b) => {
      const aValue = a.cells[columnIndex].textContent.trim();
      const bValue = b.cells[columnIndex].textContent.trim();

      const isDate = (dateString) => /^\d{4}-\d{2}-\d{2}$/.test(dateString);
      const aDate = isDate(aValue) ? new Date(aValue) : null;
      const bDate = isDate(bValue) ? new Date(bValue) : null;

      if (aDate && bDate) {
        return sortOrder * (aDate - bDate);
      } else if (!isNaN(aValue) && !isNaN(bValue)) {
        return sortOrder * (parseFloat(aValue) - parseFloat(bValue));
      } else {
        return sortOrder * aValue.localeCompare(bValue);
      }
    });

    const headerRow = table.rows[0];

    for (let i = 1; i < headerRow.cells.length-1; i++) {
      const orderSymbol = i === columnIndex ? (sortOrder === 1 ? ' &#x02191;' : ' &#x02193;') : '';
      const orderSymbolElement = document.getElementById(`sortSymbol${i}`);
      orderSymbolElement.innerHTML = orderSymbol;
      orderSymbolElement.classList.remove("active");
    }

    const clickedOrderSymbol = document.getElementById(`sortSymbol${columnIndex}`);
    clickedOrderSymbol.classList.add("active");

    while (table.tBodies[0].firstChild) {
      table.tBodies[0].removeChild(table.tBodies[0].firstChild);
    }

    rows.forEach((row) => table.tBodies[0].appendChild(row));

    sortedColumn = columnIndex;
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const refreshButton = document.getElementById("refreshButton"); 
    function refreshPage() {
      location.reload();
    }
    refreshButton.addEventListener("click", function (event) {
      event.preventDefault();
      refreshPage();
    });

      // Get current date in the format "YYYY-MM-DD"
      function getCurrentDate() {
          const today = new Date();
          const year = today.getFullYear();
          const month = String(today.getMonth() + 1).padStart(2, '0');
          const day = String(today.getDate()).padStart(2, '0');
          return `${year}-${month}-${day}`;
      }

      // Set the default values for Start Date and End Date
      document.getElementById("creatStartDate").value = getCurrentDate();
      document.getElementById("creatEndDate").value = getCurrentDate();
      document.getElementById("poStartDate").value = getCurrentDate();
      document.getElementById("poEndDate").value = getCurrentDate();
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const deleteButton = document.getElementById("deleteButton");

    deleteButton.addEventListener("click", async function () {
      event.preventDefault();
      const checkboxes = document.querySelectorAll('.subCheckbox:checked');
      console.log("checkboxes", checkboxes)
      const selectedCreationDates = Array.from(checkboxes).map(checkbox => checkbox.dataset.creationDate);
      console.log("selectedCreationDates", selectedCreationDates);


      if (selectedCreationDates.length > 0) {
        try {
          const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
          console.log("csrfToken",csrfToken)

          const response = await fetch('http://localhost:8000/history-delete', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify({ creationDates: selectedCreationDates }),
          });

          if (response.ok) {
            console.log('Deletion successful');
          } else {
            console.error('Deletion failed');
          }
        } catch (error) {
          console.error('Error during deletion', error);
        }
      } else {
        console.log('No checkboxes selected');
      }
    });
  });
</script>

<script>

document.addEventListener("DOMContentLoaded", function () {
  const filterButton = document.getElementById("filterButton");
  const toastContainer = document.getElementById("toastContainer");

  filterButton.addEventListener("click", function () {
    const customerCheckbox = document.getElementById("check-customer");
    const userCheckbox = document.getElementById("check-user");
    const creationDateCheckbox = document.getElementById("check-creationdate");
    const poDateCheckbox = document.getElementById("check-podate");

    // Check if at least one filter option is selected
    if (!customerCheckbox.checked && !userCheckbox.checked && !creationDateCheckbox.checked && !poDateCheckbox.checked) {
      showToastMessage("Please check at least one filter option");
      return; // Abort filter operation
    }

    const customerFilter = document.getElementById("selectOption-customer").value;
    const userFilter = document.getElementById("selectOption-user").value;
    const creatStartDateFilter = document.getElementById("creatStartDate").value;
    const creatEndDateFilter = document.getElementById("creatEndDate").value;
    const poStartDateFilter = document.getElementById("poStartDate").value;
    const poEndDateFilter = document.getElementById("poEndDate").value;

    const rows = document.querySelectorAll(".table-row");

    rows.forEach(row => {
      const customerMatch = !customerCheckbox.checked || (customerFilter === "All" || row.dataset.customerName === customerFilter);
      const userMatch = !userCheckbox.checked || (userFilter === "All" || row.dataset.userName === userFilter);

      let creationDateMatch = true;
      if (creationDateCheckbox.checked) {
        const rowCreationDate = new Date(`${row.dataset.creationDate}Z`).toISOString().split('T')[0];
        const startDate = new Date(`${creatStartDateFilter}T00:00:00Z`).toISOString().split('T')[0];
        const endDate = new Date(`${creatEndDateFilter}T23:59:59Z`).toISOString().split('T')[0];

        creationDateMatch = rowCreationDate >= startDate && rowCreationDate <= endDate;
      }

      let poDateMatch = true;
      if (poDateCheckbox.checked) {
        const rowPoDate = new Date(`${row.dataset.poDate}Z`).toISOString().split('T')[0];
        const startDate = new Date(`${poStartDateFilter}T00:00:00Z`).toISOString().split('T')[0];
        const endDate = new Date(`${poEndDateFilter}T23:59:59Z`).toISOString().split('T')[0];

        poDateMatch = rowPoDate >= startDate && rowPoDate <= endDate;
      }

      // Show row only if all conditions are met
      const showRow = customerMatch && userMatch && creationDateMatch && poDateMatch;

      row.style.display = showRow ? "table-row" : "none";
    });
  });

  function showToastMessage(message) {
    // Display the toast message near the filter button
    toastContainer.textContent = message;
    toastContainer.style.display = "block";

    // Hide the toast message after a certain duration (e.g., 3 seconds)
    setTimeout(() => {
      toastContainer.style.display = "none";
    }, 3000);
  }
});


</script>


  {% endblock %}