{% extends 'layouts/base.html' %}

{% block content %}
    
    <div class="table-responsive container mt-5">
      <table class="table" id="history">
        <thead>
          <tr>
            <th>Customer Name</th>
            <th>User Name</th>
            <th>Creation Date</th>
            <th>PO Date</th>
            <th></th>
          </tr>
        </thead>
        
          {% if histories != "empty" %}
            <tbody>
              {% for history in histories %}
                <tr>
                  <td>{{ history.0 }}</a></td>
                  <td>{{ history.1 }}</td>
                  <td>{{ history.2 }}</td>
                  <td>{{ history.3 }}</td>
                  <td>
                    <form method="post">
                      {% csrf_token %}
                      <a type="submit" class="btn btn-primary" href="{% url 'security:history_view' history.2 %}" id="history_viewer">View</a>
                    </form>
                  </td>
                  
                </tr>
              {% endfor %}
            </tbody>
          {% endif %}
      </table>
    </div>
<script>console.log("{{ histories }}", "____")</script>
{% endblock %}