{% extends 'layouts/base.html' %}

{% block content %}
  <div id= "homecontainer"class="container-fluid mt-4">
    <div class="stepper" id="stepper" style="margin-top: 40px;">
      <div class="steps-container">
        <div class="steps">
          <div class="step" icon="fa fa-pencil-alt" id="1">
            <div class="step-title">
              <span class="step-number">01</span>
              <div class="step-text">Upload Files</div>
            </div>
          </div>
          <div class="step" icon="fa fa-info-circle" id="2">
            <div class="step-title">
              <span class="step-number">02</span>
              <div class="step-text">Customize Your Input</div>
            </div>
          </div>
          <div class="step" icon="fa fa-book-reader" id="3">
            <div class="step-title">
              <span class="step-number">03</span>
              <div class="step-text">Review</div>
            </div>
          </div>
          <div class="step" icon="fa fa-download" id="4">
            <div class="step-title">
              <span class="step-number">04</span>
              <div class="step-text">Download</div>
            </div>
          </div>
        </div>
      </div>
      <div class="stepper-content-container">
        <div class="stepper-content fade-in" stepper-label="1">
          <form class="w-100 h-100" style="padding: 30px 10px; background: #f9f9f9;" id="data-form">
            {% csrf_token %}
            <fieldset class="upload_dropZone text-center mb-3 p-4">
          
              <!-- <legend class="visually-hidden mt-3">Upload your data</legend> -->
          
              <!-- <svg class="upload_svg" width="60" height="60" aria-hidden="true">
                <use href="#icon-imageUpload"></use>
              </svg>
           -->
              <p class="medium my-2 fw-bold my-5" style="cursor: pointer;"> Drop files here or click to upload.</p>
          
              <input id="upload_image_background" name="data" data-post-name="image_background" data-post-url="https://someplace.com/image/uploads/backgrounds/" class="position-absolute invisible" multiple type="file" accept=".pdf, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/csv" />
          
              <label class="btn btn-upload mb-3" for="upload_image_background">Choose file(s)</label>
          
              <div class="upload_gallery d-flex flex-wrap justify-content-center gap-3 mb-0"></div>
          
            </fieldset>

            <div class="my-2">
              <div class="my-3 d-flex justify-content-center">
                <button type="button" id="clear-my-files" class="btn btn-info">Clear My Files</button>
              </div>
              <div class="row">
                <div class="col-6">
                  <label class="form-label" style="font-size: 18px; font-weight: bold;">Customer Name</label>
                  <style>
                    .custom-dropdown .select2-results {
                        max-height: 200px; /* Set the desired maximum height */
                        overflow-y: auto;
                      }
                  </style>
                  <script>
                    
                  </script>
                  <select class="form-select" id="customername" name="customername">
                    <option value="Buc-ee's">Buc-ee's</option>
                    <option value="Pepco">Pepco</option>
                    <option value = "Poundland">Poundland</option>
                    <option value = "Walgreens">Walgreens</option>
                    <option value = "Dollarama">Dollarama</option>
                    <option value = "Family Dollar">Family Dollar</option>
                    <option value = "Gabe's">Gabe's</option>
                    <option value = "TEDI">TEDI</option>
                    <option value = "Big Lots Stores">Big Lots Stores</option>
                    <option value = "Walmart">Walmart</option>
                    <option value = "TARGET">TARGET</option>
                    <option value = "Ollies">Ollies</option>
                    <option value = "Five Below">Five Below</option>
                    <option value = "CVS">CVS</option>
                    <option value = "Meijers">Meijers</option>
                    <option value = "MICHAELS">MICHAELS</option>
                    <option value = "Fred Meyer">Fred Meyer</option>
                    <option value = "Tar Heel Trading">Tar Heel Trading</option>
                    <!-- <option value = "Hobby Lobby">Hobby Lobby</option> -->
                    <!-- <option value = "Lekia">Lekia</option> -->
                    <!-- <option value = "Giant Tiger">Giant Tiger</option> -->
                    <!-- <option value = "ORBICO">ORBICO</option> -->
                  </select>
                </div>
                <div class="col-6" id="currency-selector" style="display: none;">
                  <label class="form-label">Currency</label>
                  <select class="form-select" id="currency" name="currency">
                    <option value="" disabled selected>Select Currency</option>
                    <option value="eur">EUR/CNY</option>
                    <option value="usd">USD</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-info btn-next" style=""  onclick="processStepper.navigate('2')" id="first-step-next">Next</button>
            </div>
          </form>
        </div>
        <div class="stepper-content fade-in" stepper-label="2" id="additional-uom" style="position: relative;">
          
          <div class="w-100 h-100 overflow-y-auto overflow-x-hidden" style="padding: 30px 10px; background: #f9f9f9;">
            <div id="loader1" class="w-100 d-none justify-content-center" style="display: flex;">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
              </div>
              <h5 class="ms-3 text-primary">Creating View...</h5>
            </div>
            <div >
              <div id="table-header-view" >
                <!-- <div class="row px-5 py-3">
                  <div class="col-lg-6">
                    <div class="fw-bold">Customer Name From P0: <span class="text-danger">Walmart Us</span></div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row fw-bold">
                      <div class="col-lg-4 text-start">
                        Customer Name Options: 
                      </div>
                      <div class="col-lg-8">
                        <select class="w-75">
                          <option value="default">default</option>
                        </select>
                      </div>                      
                    </div>                    
                  </div>
                  <div class="col-lg-6">
                    <div class="fw-bold">Terms From PO: <span class="text-danger">20</span></div>                    
                  </div>
                  <div class="col-lg-6">
                    <div class="row fw-bold">
                      <div class="col-lg-4 text-start">
                        Terms Options From OMS: 
                      </div>
                      <div class="col-lg-8">
                        <select class="w-75">
                          <option value="default">default</option>
                        </select>
                      </div>                      
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="border rounded overflow-auto d-none" style="height: calc(100vh - 500px);">
                <table id="table-view" class="table table-striped">
                </table>
              </div>
            </div>
            
            
          </div>
          <div class="d-flex justify-content-end" style="position: absolute; right: 5px; bottom: 22px;">
            <button type="button" class="btn btn-info py-1" style="padding: 10px 15px; font-size: 15px;" onclick="processStepper.navigate('1')" id="">Prev</button>
            <button type="button" class="btn btn-info py-1" style="padding: 10px 15px; font-size: 15px;" id="openDialogButton" data-bs-toggle="modal" data-bs-target="#myModal">Next</button>
          </div>
        </div>

        <div class="stepper-content fade-in" stepper-label="3" style="background: #f9f9f9;">
          <div class="w-100 review-stepper py-3">
            <div id="loader2" class="w-100 d-none justify-content-center" style="display: flex;">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
              </div>
              <h5 class="ms-3 text-primary">Loading...</h5>
            </div>
            <h3><span class="customername" style="font-size: 40px; color: darkslategray;"></span></h3>
            <div id = "view_details"></div>
            <!-- <h4 class="mt-3 mb-2">Header Details</h4>
            <table id="header-details" class="table table-bordered"></table>
            <h4 class="mt-3 mb-2">item Details</h4>
            <table id="item-details" class="table table-bordered"></table> -->
            <div class="d-flex justify-content-end mt-3">
              <button type="button" class="btn btn-info py-1" style="padding:10px 15px; font-size: 15px;"   onclick="processStepper.navigate('2')">Prev</button>
              <button type="button" class="btn btn-info py-1"  style="padding:10px 15px; font-size: 15px;" id="final-step" onclick="processStepper.navigate('4')">Next</button>
            </div>
          </div>
        </div>

        <div class="stepper-content fade-in" stepper-label="4">
          <div class="w-100 h-100" style="padding: 30px 10px; background: #f9f9f9;">
            <div class="d-flex justify-content-between">
              <legend>Here is your result</legend>
              <div class="export_buttons">
                <a href="" id="download-output" download class="btn btn-link" style="text-decoration: none;"><i class="fa fa-download" style="font-size:24px; color: green;"></i><span class="download-text">Download</span></a>
                <button type="submit" class="btn btn-link" id="sheet-exporter" style="text-decoration: none;" ><i class="far fa-file-excel" style="font-size:24px;  color: green;"></i><span class="download-text">Export to Google Sheet</span></button>
              </div>
              
            </div>
            <div id="csv-container" class="table-responsive mt-3">
              <h5 class="text-success">Click Download button to download your result</h5>
            </div>
            <div id="loader3" class="w-100 d-none justify-content-center" style="display: flex;">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
              </div>
              <h5 class="ms-3 text-primary">Generating...</h5>
            </div>
            <div class="d-flex justify-content-end mt-3 prev-button">
              <button type="button" class="btn btn-info py-1" style="padding:10px 15px; font-size: 15px;" onclick="processStepper.navigate('3')">Prev</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">My Dialog</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <table id="modaltable" class="table table-bordered"></table>
                <p>These are first productions for our site and for this customer.
                  Do you want to use them to auto-fill for further times?</p>
                <table id="newmodaltable" class="table table-bordered"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="NextButton">Next</button>
            </div>

        </div>
    </div>
  </div>
  <div class="modal fade" id="liveModal" tabindex="-1" role="dialog" aria-labelledby="liveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="liveModalLabel">Live Dialog</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <p>These are already exported invoices to DB.
                Do you want to update SalesImports for following invoices?</p>
              <table id="newlivemodaltable" class="table table-bordered"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="liveIgnore">Ignore</button>
                <button type="button" class="btn btn-primary" id="liveAccept">Accept</button>
            </div>

        </div>
    </div>
  </div>

  <script>
      // Add click event to the fieldset
      const fieldset = document.querySelector(".upload_dropZone");
      fieldset.addEventListener("click", function() {
          const fileInput = document.getElementById("upload_image_background");
          fileInput.click();
      });
  </script>

  <style>
      /* Hide the "Choose file(s)" button */
      .btn-upload {
          display: none;
      }
  </style>

{% endblock %}